* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9b9b9b;
    border-radius: 100%;
    position: fixed;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#weather {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100vw;
    height: 100%;
}

#daily-weather {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 15%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
}

#hourly-temperature {
    width: 100%;
    height: 70%;
}

.today {
    background-color: red;
}