:root {
    --background-color: #06001d;
    --brighter-background-color: #1e243c;
    --header-height: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
    font-size: 16px;
    color: white;
    letter-spacing: 0.01em;
}

.text-left  {
    text-align: left;
}

.text-right  {
    text-align: right;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.1em;
    text-transform: uppercase;
}

body {
    background: var(--background-color);
    display: flex;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1) 2px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.1) 2px, transparent 1px);
    background-size: 50px 50px;
    background-color: #a1a1a1;
    background-position: center;
    padding-top: var(--header-height);
}

button {
    cursor: pointer;
}

/* Header */

header {
    align-items: center;
    background-color: black;
    display: flex;
    height: var(--header-height);
    padding: 10px;
    position: fixed;
    width: 100vw;
    top: 0;
}

header .filter-button {
    margin-left: auto;
    height: 100%;
    width: 50px;
}

header .search-bar {
    margin-left: 10px;
}

header .search-bar input {
    padding: 5px;
    height: 100%;
    width: 200px;
}

header .search-bar input, header .filter-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

/* Filter Bar */

.filter-bar {
    display: none;
    background-color: black;
    padding: 10px;
    position: fixed;
    height: fit-content;
    right: 0;
    width: 700px;
}

.filters {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.filters li {
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.filters div {
    width: 170px;
}

.filters input {
    background-color: transparent;
    border: 1px transparent solid;
    border-bottom-color: white;
}

.filter-bar button {
    background-color: transparent;
    border: 1px white solid;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* Table */

#table {
    width: 100%;
}

#table thead {
    background-color: red;
    height: 30px;
}


button:hover, label:hover, input:hover {
    background-color: rgba(189, 187, 187, 0.3);
}

input:focus {
    outline: none;
}
