:root {
    --background-color: #06001d;
    --brighter-background-color: #1e243c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Frutiger LT W02_47 Light Cond", "Arial Narrow", Arial, serif;
    font-size: 16px;
    color: white;
    letter-spacing: 0.01em;
}

.text-left  {
    text-align: left;
}

.text-right  {
    text-align: right;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.1em;
    text-transform: uppercase;
}

body {
    background: var(--background-color);
    display: flex;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1) 2px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.1) 2px, transparent 1px);
    background-size: 50px 50px;
    background-color: #a1a1a1;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    align-items: center;
    background-color: black;
    display: flex;
    height: 50px;
    padding: 10px;
    position: fixed;
    width: 100vw;
}

header .filter-button {
    margin-left: auto;
    height: 100%;
    width: 50px;
}

/*header .filter-button:hover, header .search-bar:hover {*/
/*    background-color: rgba(189, 187, 187, 0.3);*/
/*}*/

header .search-bar {
    margin-left: 10px;
}

header .search-bar input {
    padding: 5px;
    height: 100%;
    width: 200px;
}

header .search-bar input, header .filter-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

/* Filter Bar */

.filter-bar {
    display: none;
    background-color: black;
    padding: 10px;
    position: fixed;
    height: 200px;
    top: 50px;
    width: 100%;
}

.filters li {
    list-style: none;
    padding: 5px;
}

.filters input {
    background-color: transparent;
    border: 1px transparent solid;
    border-bottom-color: white;
}

.filter-bar button {
    background-color: transparent;
    border: 1px white solid;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}


button:hover, label:hover, input:hover {
    background-color: rgba(189, 187, 187, 0.3);
}