* {
    color: white;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
}

#add-area {
    margin: 20px;
}

#input-field,
button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

#input-field:hover,
button:hover {
    background-color: #232323;
}

#todo-list {
    list-style: none;
}

#todo-list li {
    align-items: center;
    display: flex;
    margin: 10px 0;
}

.container {
    align-items: center;
    display: flex;
    margin-left: auto;
}

.container input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    /*position: absolute;*/
    display: flex;
    flex-direction: column;
    height: 17px;
    width: 17px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 30px;
}

.container:hover input ~ .checkmark  {
    background-color: #737272;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    display: none;
    position: absolute;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    position: relative;
    left: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.delete-button {
    margin-left: 10px;
}
